@import url(https://db.onlinewebfonts.com/c/5f2a767429461ed48fadeff6ccf9e42c?family=Gamera);
@font-face {
    font-family: "Gamera";
    src: url("https://db.onlinewebfonts.com/t/5f2a767429461ed48fadeff6ccf9e42c.eot");
    src: url("https://db.onlinewebfonts.com/t/5f2a767429461ed48fadeff6ccf9e42c.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5f2a767429461ed48fadeff6ccf9e42c.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/5f2a767429461ed48fadeff6ccf9e42c.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/5f2a767429461ed48fadeff6ccf9e42c.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/5f2a767429461ed48fadeff6ccf9e42c.svg#Gamera")format("svg");
}

:root {
    --header-background-color: #24527a;
    --darker-title-color: #142d4c;
    --title-font: "Gamera";
    --secondary-color: #e0ebeb;
    --third-color: #5dacbd;
    --grid-color: #a7bcb9;
    --title-font-size: 48px;
    --bold: 600;
    --text-font-size: 28px;
    --text-font-size-samller: 20px;

    --padding: 20px;

    --shadow: 0px 8px 5px grey;
}

* {
    padding: 0px;
    margin: 0px;
    /* border: 1px solid red; */
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header section */
.header {
    background-color: var(--header-background-color);
    font-family: var(--title-font);
    color: var(--secondary-color);
    font-size: var(--title-font-size);
    font-weight: var(--bold);
    box-shadow: var(--shadow);
    padding: var(--padding);
}
.header-title {
    justify-self: center;
}

/* content (whole) */
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-info {
    display: flex;
    margin-bottom: var(--padding);
    color: var(--darker-title-color);
    font-family: "Gamera";
    font-size: 28px;
    gap: 24px;

    align-items: center;
    gap: 24px;
}
.score {
    text-align: center;
}


/* content gameboard section */
.play-section {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 8px;
    padding: var(--padding);
}
.grid {
    background-color: var(--grid-color);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--title-font);
    font-size: var(--title-font-size);
}

.game-over,
.player-enter-name{
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color);

    border-radius: 8px;
    box-shadow: var(--shadow);
}

.game-over .header,
.player-enter-name .header{
    box-shadow: none;
}

.game-over .content {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 8px;
    width: 400px;
    height: auto;
}
.winner-info {
    font-size: var(--title-font-size);
    font-family: var(--title-font);
}

.replay-button {
    padding: 10px;
    background-color: var(--third-color);
    border-radius: 12px;
    border: none;
}

.replay-button img {
    width: 40px;
}

::backdrop {
    background-color: var(--secondary-color);
    opacity: 70%;
}

/* form section */
form {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.player-1-form-section p,
.player-2-form-section p{
    font-family: var(--title-font);
    font-size: var(--text-font-size);
}
.player-1-form-section label,
.player-2-form-section label, 
#player-1-name,
#player-2-name{
    font-family: var(--title-font);
    font-size: var(--text-font-size-samller);
}
#player-1-name,
#player-2-name {
    margin-left: 10px;
    color: var(--header-background-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--darker-title-color);
    border-radius: 8px;
}
.submit-button {
    display: flex;
    justify-content: flex-end;
}
#confirmBtn {
    padding: 12px 30px;
    margin-top: 10px;
    border-radius: 12px;
    background-color: var(--header-background-color);
    color: white;
    border: none;
    font-size: var(--text-font-size-samller);
}